<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>管理员-添加员工</title>
    <link rel="stylesheet" th:href="@{/libs/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/libs/css/font-awesome.min.css}">
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/libs/css/dataTables.bootstrap4.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/libs/css/adminlte.min.css}">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" th:href="@{/libs/css/SourceSansPro.css}">

    <script th:src="@{/libs/jquery/jquery.min.js}"></script>
    <script th:src="@{/libs/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/libs/js/jquery.dataTables.js}"></script>
    <script th:src="@{/libs/js/dataTables.bootstrap4.js}"></script>
    <script th:src="@{/libs/js/adminlte.min.js}"></script>
</head>
<body class="sidebar-mini" style="height: auto;">
<div class="wrapper">
    <!-- Navbar -->
    <div th:insert="~{/Admin/common::topbar}"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:insert="~{/Admin/common::asidebar}"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">注册员工</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">管理员首页</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card card-success">
                            <div class="card-header">
                                <h3 class="card-title">添加员工</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form role="form" name="myform" th:action="@{/toAdmin/insertStaff}" method="post">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="staff_id">工号</label>
                                                <input type="text" class="form-control" id="staff_id" name="staffid" placeholder="输入工号">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="staffname">姓名</label>
                                                <input type="text" class="form-control" id="staffname" name="staffname"  placeholder="输入用户姓名">
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="mb-4">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>职称</label>
                                                <select class="form-control" name="title">
                                                    <option value="其它" selected>其它</option>
                                                    <option value="医士" >医士</option>
                                                    <option value="医师" >医师</option>
                                                    <option value="主治医师" >主治医师</option>
                                                    <option value="副主任医师" >副主任医师</option>
                                                    <option value="主任医师" >主任医师</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>薪水(每月)</label>
                                                <input type="text" class="form-control" id="salary" name="salary" value="">
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="mb-4">
                                    <div class="row">
                                        <!--左侧-->
                                        <div class="col-sm-4">
                                            <div class="form-check">
                                                <label>任职于</label>
                                                <select class="form-control" name="dep">
                                                            <option value="15" selected>其它</option>
                                                            <option value="1">心内科</option>
                                                            <option value="2">呼吸科</option>
                                                            <option value="3">血液科</option>
                                                            <option value="4">消化科</option>
                                                            <option value="5">内分泌科</option>
                                                            <option value="6">免疫科</option>
                                                            <option value="7">眼科</option>
                                                            <option value="8">耳鼻喉科</option>
                                                            <option value="9">口腔科</option>
                                                            <option value="10">皮肤科</option>
                                                            <option value="11">外科</option>
                                                            <option value="12">收费处</option>
                                                            <option value="13">药物处</option>
                                                            <option value="14">信息化处</option>
                                                            <option value="15">排队公告牌</option>
                                                        </select>
                                            </div>
                                        </div>
                                        <!--中间侧-->
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>办公室</label>
                                                <input type="text" class="form-control" name="office" value="">
                                            </div>
                                        </div>
                                        <!--右侧-->
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>电话/手机</label>
                                                <input type="text" class="form-control" name="stafftel" value="">
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="mb-4">
                                    <label>员工性别</label>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="exampleCheck1" name="staffgender" value="0"  >
                                                <label class="form-check-label" for="exampleCheck1">男</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="exampleCheck2" name="staffgender" value="1"  >
                                                <label class="form-check-label" for="exampleCheck2">女</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-success" id="btn_sub" onclick="return check_input()">添加</button>
                                    <button type="reset" class="btn btn-warning float-right">重填</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div class="col-lg-4">
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">注意事项</h3>
                            </div>
                            <div class="card-body">
                                <h6 class="card-text">1、员工信息只有加入员工表才可以注册用户</h6>
                                <h6 class="card-text">2、录入员工信息时要注意工号是否正确，提交成功后无法修改</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="p-3">
            <h5>Title</h5>
            <p>Sidebar content</p>
        </div>
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>

    <script type="text/javascript">
        function check_input() {
            if(myform.staff_id.value.length==0)
            {
                alert("输入工号不能为空！"); myform.staff_id.focus(); return false;
            }
            if(myform.staff_name.value.length==0)
            {
                alert("输入姓名不能为空！"); myform.staff_name.focus(); return false;
            }
            if(myform.staff_salary.value.length==0)
            {
                alert("输入薪水不能为空！"); myform.staff_salary.focus(); return false;
            }
            alert("确认输入工号是否正确,一旦提交则工号不可修改");
        }
    </script>
</div>

</body>
</html>