<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>管理员-注册用户</title>
    <link rel="stylesheet" th:href="@{/libs/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/libs/css/font-awesome.min.css}">
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/libs/css/dataTables.bootstrap4.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/libs/css/adminlte.min.css}">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" th:href="@{/libs/css/SourceSansPro.css}">

    <script th:src="@{/libs/jquery/jquery.min.js}"></script>
    <script th:src="@{/libs/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/libs/js/jquery.dataTables.js}"></script>
    <script th:src="@{/libs/js/dataTables.bootstrap4.js}"></script>
    <script th:src="@{/libs/js/adminlte.min.js}"></script>
</head>
<body class="sidebar-mini" style="height: auto;">
<div class="wrapper">
    <!-- Navbar -->
    <div th:insert="~{/Admin/common::topbar}"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:insert="~{/Admin/common::asidebar}"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">注册用户</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="?con=Admin">Home</a></li>
                            <li class="breadcrumb-item active">管理员首页</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card card-success">
                            <div class="card-header">
                                <h3 class="card-title">注册用户</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form role="form" name="myform" th:action="@{/toAdmin/insertUser}" method="post">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="staff_id">工号  <span id="resinfo"></span></label>
                                                <input type="text" class="form-control" id="staff_id" name="sid" placeholder="输入工号">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="username">姓名</label>
                                                <input type="text" class="form-control" id="username" name="username"  placeholder="输入用户姓名">
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="mb-4">
                                    <div class="form-group">
                                        <label>职务</label>
                                        <div class="row">
                                            <!--左侧-->
                                            <div class="col-sm-4">
                                                <div class="form-check">
                                                    <label>职能</label>
                                                    <select name="roles[0].rid" class="form-control">
                                                        <option selected> ---请选择--- </option>
                                                        <option value="1">管理员</option>
                                                        <option value="2">医生</option>
                                                        <option value="3">收费员</option>
                                                        <option value="4">药房管理员</option>
                                                        <option value="5">叫号通知</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!--中间侧-->
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>可用性</label>
                                                    <select name="enable" class="form-control">
                                                        <option value="true" selected>可用</option>
                                                        <option value="false">不可用</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!--右侧-->
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>是否上锁</label>
                                                    <select name="locked" class="form-control">
                                                        <option value="false" selected>不上锁</option>
                                                        <option value="true">上锁</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <hr class="mb-4">
                                    <label>账号可用性</label>
                                    <div class="form-group">
                                    </div>

                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-success" id="btn_sub" disabled onclick="return check_input()">注册</button>
                                    <button type="reset" class="btn btn-warning float-right">重填</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div class="col-lg-4">
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">注意事项</h3>
                            </div>
                            <div class="card-body">
                                <h6 class="card-text">1、员工信息只有加入员工表才可以注册用户</h6>
                                <h6 class="card-text">2、录入员工信息时要注意工号是否正确，提交成功后无法修改</h6>
                                <h6 class="card-text">3、用户密码默认是工号</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="p-3">
            <h5>Title</h5>
            <p>Sidebar content</p>
        </div>
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>

    <script type="text/javascript">
        function check_input() {
                if(myform.staff_id.value.length==0)
                {
                    alert("输入工号不能为空！"); myform.staff_id.focus(); return false;
                }
                if(myform.username.value.length==0)
                {
                    alert("输入姓名不能为空！"); myform.username.focus(); return false;
                }
                alert("确认输入工号是否正确,一旦提交则工号不可修改");
        }
        $("#staff_id").blur(function () {
            var ret = /^[0-9]+$/;
            var sid = $("#staff_id").val()
            if(ret.test(sid)) {
                $.get("findStaffExist", {sid: $("#staff_id").val()}, function (resultmap) {
                    if (resultmap.result) {
                        $("#staff_id").removeClass("is-invalid");
                        $("#staff_id").addClass("is-valid");
                        $("#resinfo").css("color", "green");
                        $("#resinfo").text(resultmap.info);
                        $("#btn_sub").attr("disabled",false);
                    } else {
                        $("#staff_id").addClass("is-invalid");
                        $("#resinfo").css("color", "red");
                        $("#resinfo").text(resultmap.info);
                        $("#btn_sub").attr("disabled",true);
                    }
                }, "json");
            }else{
                $("#staff_id").addClass("is-invalid");
                $("#resinfo").css("color", "red");
                $("#resinfo").text("输入不合法");
                $("#btn_sub").attr("disabled",true);
            }
        })
    </script>
</div>
</body>
</html>