<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>管理员-员工管理</title>
    <link rel="stylesheet" th:href="@{/libs/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/libs/css/font-awesome.min.css}">
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/libs/css/dataTables.bootstrap4.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/libs/css/adminlte.min.css}">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" th:href="@{/libs/css/SourceSansPro.css}">

    <script th:src="@{/libs/jquery/jquery.min.js}"></script>
    <script th:src="@{/libs/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/libs/js/jquery.dataTables.js}"></script>
    <script th:src="@{/libs/js/dataTables.bootstrap4.js}"></script>
    <script th:src="@{/libs/js/adminlte.min.js}"></script>

</head>
<body class="sidebar-mini" style="height: auto;">
<div class="wrapper">
    <!-- Navbar -->
    <div th:insert="~{/Admin/common::topbar}"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:insert="~{/Admin/common::asidebar}"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">详细员工信息</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="?con=Admin">Home</a></li>
                            <li class="breadcrumb-item ">管理员首表</li>
                            <li class="breadcrumb-item active">详细员工信息</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-10">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">工号：<span th:text="${staffInfo.getStaffid()}"></span></h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form th:action="@{/toAdmin/updateStaff}" method="post">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="staffname">姓名</label>
                                        <input type="text" class="form-control" id="staffname" name="staffname" th:value="${staffInfo.getStaffname()}">
                                        <input type="hidden" id="staff_id" name="staffid" th:value="${staffInfo.getStaffid()}">
                                    </div>
                                    <hr class="mb-4">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-check">
                                                <label>职称</label>
                                                <select class="form-control" name="title">
                                                    <option value="其它" th:selected="${staffInfo.getTitle()=='其它'}">其它</option>
                                                    <option value="医士" th:selected="${staffInfo.getTitle()=='医士'}">医士</option>
                                                    <option value="医师" th:selected="${staffInfo.getTitle()=='医师'}">医师</option>
                                                    <option value="主治医师" th:selected="${staffInfo.getTitle()=='主治医师'}">主治医师</option>
                                                    <option value="副主任医师" th:selected="${staffInfo.getTitle()=='副主治医师'}">副主任医师</option>
                                                    <option value="主任医师" th:selected="${staffInfo.getTitle()=='主任医师'}">主任医师</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>薪水(每月)</label>
                                                <input type="text" class="form-control" id="salary" name="salary" th:value="${staffInfo.getSalary()}">
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="mb-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="form-check">
                                                <label>职务部门</label>
                                                <div clss="col-sm-6">
                                                    <select class="form-control" name="dep">
                                                        <option value="1" th:selected="${staffInfo.getDep()==1}">心内科
                                                        </option>
                                                        <option value="2" th:selected="${staffInfo.getDep()==2}">呼吸科
                                                        </option>
                                                        <option value="3" th:selected="${staffInfo.getDep()==3}">血液科
                                                        </option>
                                                        <option value="4" th:selected="${staffInfo.getDep()==4}">消化科
                                                        </option>
                                                        <option value="5" th:selected="${staffInfo.getDep()==5}">内分泌科
                                                        </option>
                                                        <option value="6" th:selected="${staffInfo.getDep()==6}">免疫科
                                                        </option>
                                                        <option value="7" th:selected="${staffInfo.getDep()==7}">眼科
                                                        </option>
                                                        <option value="8" th:selected="${staffInfo.getDep()==8}">耳鼻喉科
                                                        </option>
                                                        <option value="9" th:selected="${staffInfo.getDep()==9}">口腔科
                                                        </option>
                                                        <option value="10" th:selected="${staffInfo.getDep()==10}">皮肤科
                                                        </option>
                                                        <option value="11" th:selected="${staffInfo.getDep()==11}">外科
                                                        </option>
                                                        <option value="12" th:selected="${staffInfo.getDep()==12}">收费处
                                                        </option>
                                                        <option value="13" th:selected="${staffInfo.getDep()==13}">
                                                            药物管理
                                                        </option>
                                                        <option value="14" th:selected="${staffInfo.getDep()==14}">
                                                            信息化处
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>办公室</label>
                                                <input type="text" class="form-control" name="office" th:value="${staffInfo.getOffice()}">
                                            </div>
                                            <div class="form-group">
                                                <label>电话/手机</label>
                                                <input type="text" class="form-control" name="stafftel" th:value="${staffInfo.getStafftel()}">
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="mb-4">
                                    <label>员工性别</label>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="exampleCheck1" name="staffgender" value="0" th:checked="${staffInfo.getStaffgender()==0}" >
                                                <label class="form-check-label" for="exampleCheck1">男</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="exampleCheck2" name="staffgender" value="1" th:checked="${staffInfo.getStaffgender()==1}" >
                                                <label class="form-check-label" for="exampleCheck2">女</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">修改</button>
                                    <button type="button" class="btn btn-danger float-right" id="delete">删除该账户</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- /.col-lg-8 -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="p-3">
            <h5>Title</h5>
            <p>Sidebar content</p>
        </div>
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>
</div>
<!-- /.content-wrapper -->

<script type="text/javascript" >
    var delbtn=document.getElementById('delete');
    var id=document.getElementById('staff_id')
    delbtn.onclick=function () {
        //询问是否要删除
        if(window.confirm('您真的要删除'+id.value+'号员工吗？'))
        {
            //跳转地址
            //找控制器？表示当前文件（病人控制器）
            //ac(action)表示要操作的动作
            location.href="?con=Admin&ac=delete&id="+id.value;
        }
    }
</script>
</body>
</html>