<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nuaa.myclinic.mapper.AdminApiMapper">

    <resultMap id="baseUserNormalMap" type="cn.edu.nuaa.myclinic.pojo.UserNormal">
        <id column="id" property="id" javaType="Integer"/>
        <result column="username" property="username" javaType="String"/>
        <result column="logintimes" property="logintimes" javaType="Integer"/>
        <result column="lastloginaddr" property="lastloginaddr" javaType="String"/>
        <result column="locked" property="locked" javaType="Boolean"/>
        <collection property="roles" column="id" select="cn.edu.nuaa.myclinic.mapper.UserRoleMapper.getUserRolesByUserId" ofType="cn.edu.nuaa.myclinic.pojo.Role">
            <id column="rid" property="rid" jdbcType="INTEGER"/>
            <result column="rname" property="rname" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <insert id="insertUserInfo" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="cn.edu.nuaa.myclinic.pojo.UserNormal">
        insert into user(username,passowrd,enable,locked,avatar,staffname) values (#{username},#{password},#{enable},#{locked},#{avatar},#{staffname})
    </insert>
    <insert id="insertOneUserRoles" parameterType="Integer">
        insert into user_role(uid,rid) values (#{uid},#{rid})
    </insert>
    <update id="updateUserInfoById">
        update user a set a.username = #{username}, a.locked=#{locked}, a.enable=#{enable}, a.avatar=#{avatar}, a.staffname=#{staffname} where a.id = #{id}
    </update>
    <update id="updateOneDep">
        update dep set name = #{name}, a.parentid = #{parentid} where id = #{id}
    </update>
    <delete id="deleteOneUserRoles">
        delete from user_role where uid = #{uid}
    </delete>

    <select id="selectUserList" resultMap="baseUserNormalMap" parameterType="cn.edu.nuaa.myclinic.pojo.UserNormalDTO">
        select a.id, a.username, a.logintimes, a.lastloginaddr, a.locked, a.staffname
        from user a
        where 1=1
        <if test="username != null and username != ''">
            and a.username like CONCAT(CONCAT('%',#{username}),'%')
        </if>
    </select>
    <select id="selectOneUserByID" parameterType="Integer" resultMap="baseUserNormalMap">
        select a.username, a.enable, a.locked, a.avatar, a.id, a.logintimes, a.lastloginaddr, a.staffname
        from user a
        where a.id = #{id}
    </select>
    <select id="selectAllRoles" resultType="cn.edu.nuaa.myclinic.pojo.Role">
        select a.rid, a.rname
        from role a
    </select>
    <select id="selectRoleList" resultType="cn.edu.nuaa.myclinic.pojo.Role">
        select a.rid, a.rname
        from role a
        <where>
            <if test="rname!=null">
                a.rname like CONCAT(CONCAT('%',#{rname}),'%')
            </if>
        </where>
    </select>
    <select id="getDepNewsByDepId" resultType="cn.edu.nuaa.myclinic.pojo.DepNews">
        select a.newstitle, a.id, a.depid, a.newsdate
        from dep_news a
        <where>
            <if test="newstitle!=null">
                a.newstitle like CONCAT(CONCAT('%',#{newstitle}),'%')
            </if>
        </where>
    </select>
    <select id="getDepPageList" resultType="cn.edu.nuaa.myclinic.pojo.Dep">
        select id, name, parentid
        from dep
        <where>
            <if test="name!=null">
                a.name like CONCAT(CONCAT('%',#{name}),'%')
            </if>
        </where>
    </select>
    <select id="getOneDepById" resultType="cn.edu.nuaa.myclinic.pojo.Dep">
        select id, name, parentid
        from dep
        <where>
            <if test="id!=null">
                a.id = #{id}
            </if>
        </where>
    </select>
</mapper>