<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nuaa.myclinic.mapper.AdminMapper">
    <select id="findAllUser" resultType="UserNormal" parameterType="String">
        select * from user where 1=1
        <if test="condition != null">
            and username like CONCAT('%',#{condition},'%')
        </if>
    </select>
    <update id="updateUser" parameterType="UserNormal">
        update user set username = #{username} ,enable = #{enable} , locked = #{locked} ,
        lastloginaddr = #{lastloginaddr} , logintimes = #{logintimes} where id = #{id}
    </update>
    <select id="findUserById" parameterType="int" resultType="UserNormal">
        select * from user where id = #{id};
    </select>
    <select id="findAllStaff" resultType="Staff">
        select * from staff
    </select>
    <select id="findStaffById" parameterType="int" resultType="Staff">
        select * from staff where staffid = #{id}
    </select>
    <update id="updateStaff" parameterType="Staff">
        update staff set staffname = #{staffname} , title = #{title} , staffgender = #{staffgender} ,
        salary = #{salary} , stafftel = #{stafftel} , dep = #{dep} , office = #{office} where staffid=#{staffid}
    </update>
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user (username,password,enable,locked,logintimes,sid)
        values(#{username},#{password},#{enable},#{locked},#{logintimes},#{sid})
    </insert>
    <insert id="insterRole">
        insert into user_role (uid,rid) values (#{uid},#{rid})
    </insert>
    <insert id="insertStaff" parameterType="Staff">
        insert into staff(staffid,staffname,title,salary,staffgender,stafftel,dep,office) values (#{staffid},#{staffname},#{title},#{salary},#{staffgender},#{stafftel},#{dep},#{office})
    </insert>
</mapper>