<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nuaa.myclinic.mapper.DocterMapper">
    <select id="getStaffBySid" resultType="Staff" parameterType="int">
        select * from staff where staffid = #{sid}
    </select>
    <insert id="insertNewTreatmentbrief" useGeneratedKeys="true" keyProperty="tbid" >
        insert into treatmentbrief(patientid,staffid,time,patientname) values (#{patientid},#{staffid},#{time},#{patientname})
    </insert>
    <select id="getOnePatientByid" resultType="Patient">
        select * from patient where patientid = #{pid}
    </select>
    <select id="getAllMedicine" resultType="medicine">
        select * from medicine where 1=1
        <if test="condition != null">
            and medicinename like CONCAT('%',#{condition},'%')
        </if>
    </select>
    <insert id="insertTreatment" useGeneratedKeys="true" keyProperty="treatmentid">
        insert into treatment (heartrate,bloodpressure,temperature,patientsymptoms,presentillness,pastillness,diagnose,prescription)
        values (#{heartrate},#{bloodpressure},#{temperature},#{patientsymptoms},#{presentillness},#{pastillness},#{diagnose},#{prescription})
    </insert>
    <insert id="updateTreatmentbrief" >
        update treatmentbrief set treatmentid = #{treatmentid}, diagnose = #{diagnose} , completed = #{completed} where tbid = #{tbid}
    </insert>
    <insert id="insertPrescription" parameterType="Prescription">
        insert into prescription (staffid,patientid,time,medicineid,num,take,paid) values (#{staffid},#{patientid},#{time},#{medicineid},#{num},#{take},#{paid})
    </insert>
    <insert id="insertPayment" parameterType="Payment">
        insert into payment(patientid,staffid,time, totalcost,paid) values (#{patientid},#{staffid},#{time},#{totalcost},#{paid})
    </insert>
    <select id="getTreatCompletedList" resultType="Treatmentbrief">
        select * from treatmentbrief where staffid = #{staffid} and completed = true
        <if test="condition != null">
            and patientname like CONCAT('%',#{condition},'%')
        </if>
        order by tbid desc
    </select>
    <select id="getOneTreatmentbriefBytbid" resultType="Treatmentbrief">
        select * from treatmentbrief where tbid = #{tbid}
    </select>
    <select id="getOneTreatmentByid" resultType="Treatment">
        select * from treatment where treatmentid = #{id}
    </select>
    <select id="getStaffnameByid" resultType="String" parameterType="Integer">
        select staffname from staff where staffid = #{id}
    </select>
</mapper>

