<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nuaa.myclinic.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="Menu" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="redirect" property="redirect" jdbcType="VARCHAR" />
        <result column="path" property="path" jdbcType="VARCHAR" />
        <result column="component" property="component" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="parentId" property="parentId" jdbcType="INTEGER" />
<!--        <result column="parentid" property="parentid" jdbcType="INTEGER" />-->
<!--        <result column="enabled" property="enabled" jdbcType="BIT" />-->
        <association property="meta" javaType="cn.edu.nuaa.myclinic.pojo.Meta">
            <result column="title" property="title" jdbcType="VARCHAR" />
            <result column="target" property="target" jdbcType="VARCHAR" />
            <result column="show" property="show" jdbcType="BOOLEAN"/>
            <result column="icon" property="icon" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <resultMap id="menuWithRolesMap" extends="BaseResultMap" type="Menu">
        <collection property="roles" column="id" select="cn.edu.nuaa.myclinic.mapper.MenuMapper.getAllRoleByMenuId" ofType="cn.edu.nuaa.myclinic.pojo.Role" >
            <result column="rid" property="rid" jdbcType="INTEGER"/>
            <result column="rname" property="rname" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <select id="getAllRoleByMenuId" resultType="Role">
        select * from role r,menu_role mr where r.rid=mr.roleid and mr.menuid=#{menuid}
    </select>

    <select id="getRoleIdByUserId" resultType="int">
        select rid from user_role where uid = #{uid}
    </select>

    <select id="getAllMenuwithRoles" resultMap="menuWithRolesMap">
        select * from menu
    </select>
    <select id="getMenusByRoleId" resultMap="BaseResultMap">
        select *
        from menu m left join menu_role mr on m.id = mr.menuid
        where mr.roleid in
        <foreach collection="rids" item="rid" separator="," open="(" close=")" >
            #{rid}
        </foreach>
    </select>
</mapper>