<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nuaa.myclinic.mapper.WorkPlaceMapper">

    <select id="selectDepNewsByUser" resultType="cn.edu.nuaa.myclinic.pojo.DepNews">
        SELECT a.id, a.newstitle, a.newsdate
        FROM dep_news a LEFT JOIN user_dep_relation b ON a.depid = b.depid
        WHERE b.userid = #{id}
    </select>
</mapper>