<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>医生-查看病人页</title>
    <link rel="stylesheet" th:href="@{/libs/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/libs/css/font-awesome.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/libs/css/adminlte.min.css}">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" th:href="@{/libs/css/SourceSansPro.css}" >

    <script th:src="@{/libs/jquery/jquery.min.js}"></script>
    <script th:src="@{/libs/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/libs/js/bs-custom-file-input.min.js}"></script>
    <script th:src="@{/libs/js/adminlte.min.js}"></script>

</head>
<body class="sidebar-mini" style="height: auto;">
<div class="wrapper">
    <!-- Navbar -->
    <div th:replace="~{/Doctor/common::topbar}"></div>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <div th:replace="~{/Doctor/common::asidebar}"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">查看<font color="#9acd32"><span th:text="${treatmentInfo['treatmentbrief']['patientid']}"></span> </font>的就诊记录</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="?con=Doctor">Home</a></li>
                            <li class="breadcrumb-item active">查看病人一次就诊详细记录</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">详细信息</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <strong><i class="fa fa-address-card"></i> 病人信息</strong><br><br>
                                    <div class="row">
                                        <div class="col-3">
                                            <strong>姓名：</strong>
                                            <p class="text-muted">
                                                <span th:text="${treatmentInfo['treatmentbrief']['patientname']}"></span>
                                            </p>
                                        </div>
                                        <div class="col-3">
                                            <strong>性别：</strong>
                                            <p class="text-muted">
                                                <span th:if="${patientInfo['patientgender']==0}" th:text="男"></span>
                                                <span th:if="${patientInfo['patientgender']==1}" th:text="女"></span>
                                            </p>
                                        </div>
                                        <div class="col-3">
                                            <strong>年龄：</strong>
                                            <p class="text-muted">
                                                <span th:text="${patientAge}"></span>
                                            </p>
                                        </div>
                                        <div class="col-3">
                                            <strong>联系方式：</strong>
                                            <p class="text-muted">
                                                <span th:text="${patientInfo['patienttel']}"></span>
                                            </p>
                                        </div>
                                        <div class="col-3">
                                            <strong>过敏信息：</strong>
                                            <p class="text-muted">
                                                <span th:text="${patientInfo['allergy']}"></span>
                                            </p>
                                        </div>
                                    </div>
                                <hr>
                                <strong><i class="fas fa-pencil-alt mr-1"></i> 就诊记录</strong><br><br>
                                    <div class="row">
                                        <div class="col-12">
                                            <strong>主诉：</strong>
                                            <p class="text-muted">
                                                <span th:text="${treatmentInfo['treatment']['patientsymptoms']}"></span>
                                            </p>
                                        </div><br>
                                        <div class="col-12">
                                            <strong>现病史：</strong>
                                            <p class="text-muted">
                                                <span th:text="${treatmentInfo['treatment']['presentillness']}"></span>
                                            </p>
                                        </div><br>
                                        <div class="col-12">
                                            <strong>既往史：</strong>
                                            <p class="text-muted">
                                                <span th:text="${treatmentInfo['treatment']['pastillness']}"></span>
                                            </p>
                                        </div>
                                        <div class="col-4">
                                            <strong>体温：</strong>
                                            <p class="text-muted">
                                                <span th:text="${treatmentInfo['treatment']['temperature']}"></span>
                                            </p>
                                        </div>
                                        <div class="col-4">
                                            <strong>心率：</strong>
                                            <p class="text-muted">
                                                <span th:text="${treatmentInfo['treatment']['heartrate']}"></span>
                                            </p>
                                        </div>
                                        <div class="col-4">
                                            <strong>血压：</strong>
                                            <p class="text-muted">
                                                <span th:text="${treatmentInfo['treatment']['bloodpressure']}"></span>
                                            </p>
                                        </div>
                                    </div>
                                <hr>

                                <strong><i class="fa fa-list-ul mr-1"></i> 处方</strong>

                                <p class="text-muted">
                                    <span th:text="${treatmentInfo['treatment']['prescription']}"></span>
                                </p>

                                <hr>

                                <strong><i class="fa fa-info"></i> 就诊信息</strong><br><br>
                                <div class="row">
                                    <div class="col-6">
                                        <strong>就诊时间：</strong>
                                        <p class="text-muted"><span th:text="${#dates.format(treatmentInfo['treatmentbrief']['time'],'yyyy-MM-dd')}"></span></p>
                                    </div>
                                    <div class="col-6">
                                        <strong>医生：</strong>
                                        <p class="text-muted"><span th:text="${staffname}"></span> </p>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <a class="btn btn-success" th:href="@{/toDoctor/showTreatCompletedView}">病人列表</a>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-lg-8 -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->

<!-- /.content-wrapper -->

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
        <h5>Title</h5>
        <p>Sidebar content</p>
    </div>
</aside>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
</footer>
</div>
</body>
</html>