<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>医生-诊断页</title>
    <link rel="stylesheet" th:href="@{/libs/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/libs/css/font-awesome.min.css}">

    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/libs/css/adminlte.min.css}">
    <!-- Google Font: Source Sans Pro -->
    <link th:href="@{/libs/css/SourceSansPro.css}" rel="stylesheet">
    <!--popwindow-->
    <link rel="stylesheet" th:href="@{/libs/css/animate.min.css}" />
    <link rel="stylesheet" th:href="@{/libs/css/syalert.min.css}" />


    <style type="text/css">
        *{ margin:0px; padding:0px; box-sizing:border-box; }
        *:focus{ outline:none;}
        .tsm{ background:#333; font-size:13px; color:#fff; margin:20px; margin-top:0px; padding:12px; line-height:25px;}
        .tsm .p2{ margin-top:12px;}
        .btns{ padding:20px;}
        .btns div{ display:block; text-align:center; cursor:pointer; padding:10px; border-radius:5px; background:#0CC; color:#fff; margin-bottom:12px; width:100%;}
    </style>

    <script th:src="@{/libs/jquery/jquery.min.js}"></script>
    <script th:src="@{/libs/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/libs/js/adminlte.min.js}"></script>
    <script th:src="@{/libs/js/syalert.min.js}"></script>

</head>
<body class="sidebar-mini" style="height: auto;">
<div class="wrapper">
    <!-- Navbar -->
    <div th:replace="~{/Doctor/common::topbar}"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:replace="~{/Doctor/common::asidebar}"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">就诊病号为<font color="red"><?=$arr['patient_id']?></font> 号病人</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="?con=Patient">Home</a></li>
                            <li class="breadcrumb-item active">就诊页</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary card-tabs">
                            <div class="card-header p-0 pt-1">
                                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">病人信息</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">病情</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">诊断</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-one-settings-tab" data-toggle="pill" href="#custom-tabs-one-settings" role="tab" aria-controls="custom-tabs-one-settings" aria-selected="false">处方</a>
                                    </li>
                                </ul>
                            </div>
                            <form action="?con=Doctor&ac=postTreatmentInfo" method="post">
                                <div class="card-body">
                                    <div class="tab-content" id="custom-tabs-one-tabContent">
                                        <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">

                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>姓名:</label><br><span th:text="${patientInfo.getPatientname()}"></span>
                                                        <input type="hidden" id="staff_id" name="staffid" th:value="${staffInfo['staffid']}">
                                                        <input type="hidden" name="patientid" id="patientid" th:value="${patientInfo['patientid']}">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>电话:</label><br><span th:text="${patientInfo.getPatienttel()}"></span>
                                                    </div>
                                                </div>
                                            </div><hr>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>年龄:</label><br><span th:text="${patientAge}"></span>
                                                        <input type="hidden" name="patientage" th:value="${patientAge}">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label >性别:</label><br>
                                                        <span th:if="${patientInfo['patientgender']==0}" th:text="男"></span>
                                                        <span th:if="${patientInfo['patientgender']==1}" th:text="女"></span>
                                                    </div>
                                                </div>
                                            </div><hr>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="allergy">过敏信息:</label>
                                                        <input type="text" class="form-control" id="allergy" name="allergy" th:value="${patientInfo['allergy']}">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>挂号时间:</label><br><span th:text="${registryTime}"></span>
                                                    </div>
                                                </div>
                                            </div><hr>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="allergy">病史信息</label><br>
                                                        <div class="btn btn-warning" onClick="syalert.syopen('alert2')">查看</div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>就诊时间时间:</label><br><span th:text="${treattime}"></span>
                                                        <input type="hidden" name="time" th:value="${treattime}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">

                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="temperature">体温:</label>
                                                        <input type="text" class="form-control" id="temperature" name="temperature">
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="bloodpressure">血压:</label>
                                                        <input type="text" class="form-control" id="bloodpressure" name="bloodpressure">
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="heartrate">心率:</label>
                                                        <input type="text" class="form-control" id="heartrate" name="heartrate">
                                                    </div>
                                                </div>
                                            </div><hr>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="symptoms">主述:</label>
                                                    <input type="text" class="form-control" id="symptoms" name="symptoms">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="present_illness">现病史:</label>
                                                    <input type="text" class="form-control" id="present_illness" name="present_illness">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="past_illness">既往史:</label>
                                                    <input type="text" class="form-control" id="past_illness" name="past_illness">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
                                            <input type="text" class="form-control" id="diagnose" name="diagnose">
                                        </div>
                                        <div class="tab-pane fade" id="custom-tabs-one-settings" role="tabpanel" aria-labelledby="custom-tabs-one-settings-tab">
                                            <input type="hidden"  name="isprescription" value="false">
                                            <div class="col-12">
                                                <div class="icheck-primary d-inline">
                                                    <input type="checkbox" id="checkboxPrimary2" name="isprescription" value="true">
                                                    <label for="checkboxPrimary2">开处方
                                                    </label>
                                                </div>
                                                <hr>
                                                    <input type="search" class="form-control form-control-sm" id="search-medicine" style="float: right;margin-bottom: 10px" placeholder="输入查询药品名">
                                                    <table id="example1" class="table table-bordered table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>药物编号</th>
                                                        <th>药物名称</th>
                                                        <th>药物种类</th>
                                                        <th>价格</th>
                                                        <th>操作项</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="medicinelistbody">

                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th>药物编号</th>
                                                        <th>药物名称</th>
                                                        <th>药物种类</th>
                                                        <th>价格</th>
                                                        <th>操作项</th>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                                <ul id="navigatebarmedicine" class="pagination pagination-sm m-0 float-right">

                                                </ul>

                                            </div><br><hr>
                                            <div class="col-12">
                                                <h3>处方签</h3>
                                                <div class="table-responsive">
                                                    <table class="table table-striped jambo_table bulk_action" id="todolist">
                                                        <thead>
                                                            <tr>
                                                                <th>药品编号</th>
                                                                <th>药品名称</th>
                                                                <th>开药数量</th>
                                                                <th>药品价格</th>
                                                                <th>删除</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <input type="submit" name="action" value="提交" class="btn btn-success">
                                    <input type="submit" name="action" value="保存" class="btn btn-warning">
                                    <button type="reset" class="btn btn-danger float-right" id="delete">退出</button>
                                </div><!-- /.card-footer -->
                            </form>
                        </div>
                    </div>
                        <!-- /.card -->
                </div>
                    <!-- /.col-lg-12 -->
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="p-3">
            <h5>Title</h5>
            <p>Sidebar content</p>
        </div>
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            Designed for Hospital and Coded by Tao Sun in <strong><a href="http://nuaa.edu.cn">Nanjing University of Aeronautics & Astronautics</a>.</strong>
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>
</div>

<!-- 病史信息弹窗 -->
<div class="sy-alert sy-alert-alert animated" sy-enter="zoomIn" sy-leave="zoomOut" sy-type="alert" sy-mask="true" id="alert2" style="width: 800px">
    <div class="sy-title">病史信息</div>
    <div class="sy-content">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th width="200px">就诊日期</th>
                <th>诊断</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($arrs2 as $arr2){ ?>
            <tr>
                <th scope="row" width="150px"><?php echo date('Y-m-d',$arr2['add_time']) ?></th>
                <td><?php echo $arr2['diagnose'] ?></td>
                <td width="50px"><a id="check" onclick="return confirm();" href="?con=Doctor&ac=showPatientTreament&patient_id=<?=$arr['patient_id']?>&add_time=<?=$arr2['add_time']?>">查看</a> </td>
            </tr>
            <?php } ?>
            </tbody>
            <tfoot>
            <tr>
                <th>就诊日期</th>
                <th>诊断</th>
                <th>操作</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="sy-btn">
        <button onClick="ok('alert2')">确定</button>
    </div>
</div>

<script type="text/javascript" >
    var prescriptions =[];
    function loadMedicineList(page,pagesize){
        var condition = $("#search-medicine").val();
        $.get("showMedicineList",{page:page,size:pagesize,condition:condition},function (result) {
            //显示列表
            var m_list='';
            for (var i = 0;i<result.pageInfo.size;i++){
                var medicine = result.pageInfo.list[i];
                var tr = '<tr>\n' +
                    '                                    <th scope="row">'+medicine.medicineid+'</th>\n' +
                    '                                    <td>'+medicine.medicinename+'</td>\n' +
                    '                                    <td>'+medicine.medicinetype+'</td>\n' +
                    '                                    <td>'+medicine.cost+'</td>\n' +
                    '                                    <td>\n' +
                    '                                        <button id="btn ichecked"><a href="javascript:add('+medicine.medicineid+',\''+medicine.medicinename+'\','+medicine.cost+')">选择</a></button>' +
                    '                                    </td>\n' +
                    '                                </tr>';
                m_list=m_list+tr;
            }
            $("#medicinelistbody").html(m_list);
            //显示导航栏
            var lis ='';
            if (result.pageInfo.hasPreviousPage==false){
                var li = '<li class="page-item"><a class="page-link" href="#">«</a></li>'
            }else {
                var li ='<li class="page-item"><a class="page-link" href="javascript:loadMedicineList('+result.pageInfo.prePage+','+pagesize+')">«</a></li>'
            }
            lis +=li;//向前一页
            for(var i=0;i<result.pageInfo.navigateLastPage;i++){
                var num = result.pageInfo.navigatepageNums[i];
                var li = '<li class="page-item"><a class="page-link" href="javascript:loadMedicineList('+num+','+pagesize+')">'+num+'</a></li>';
                lis +=li;
            }
            if (result.pageInfo.hasNextPage==false){
                var li = '<li class="page-item"><a class="page-link" href="#">»</a></li>'
            }else {
                var li ='<li class="page-item"><a class="page-link" href="javascript:loadMedicineList('+result.pageInfo.nextPage+','+pagesize+')">»</a></li>'
            }
            lis +=li;//添加向后一页
            $("#navigatebarmedicine").html(lis);
        },"json")
    }
    $(function () {
        loadMedicineList(1,10);
    });
    // var checkbtn=document.getElementById('check');
    // checkbtn.onclick=function () {
    //     //询问是否要删除
    //     return  window.confirm('填写的内容将清除，请确定是否保存！');
    // }
    //datatables
    //弹出窗口
    // function ok(id){
    //     syalert.syhide(id);
    // }
    function Prescript(){}
    //药物的选择添加
    function add(medicine_id,name,cost){

        var trHTML = '<tr>'+
            '<td>'+medicine_id+'</td>'+
            '<td>'+name+'</td>'+
            '<td>'+'<input type="number" name="medicinenum'+medicine_id+'" value="1">'+'</td>'+
            '<td>'+cost+'</td>'+
            '<td>'+'<button class="btn btn-warning btn-xs" id="check">删除</button>'+'</td>'+
            '</tr>';
        $("#todolist").append(trHTML);//在table最后面添加一行
        var prescript = new Prescript();
        prescript.medicineid=medicine_id;
        prescript.medicinename=name;
        prescript.cost=cost;
        prescriptions.push(prescript);
        console.log(prescriptions);
    }

    //监听是否选中某行，该监听是持续的

    $('#todolist tbody').on( 'click', '#check', function () {

        //获取行
        var row = $("table#todolist tr").index($(this).closest("tr"));
        //获取某列（从0列开始计数）的值
        var id = $("table#todolist").find("tr").eq(row).find("td").eq(0).text();

        $(this).parent().parent().remove();

        var updateId=id;

    } );
    //禁止f5刷新
    // document.onkeydown = function (e) {
    //     var ev = window.event || e;
    //     var code = ev.keyCode || ev.which;
    //     if (code == 116) {
    //         ev.keyCode ? ev.keyCode = 0 : ev.which = 0;
    //         cancelBubble = true;
    //         return false;
    //     }
    // }
    // document.oncontextmenu=function(){return false};//禁止右键刷新
</script>
</body>
</html>


