<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>医生-完成诊断</title>
    <link rel="stylesheet" th:href="@{/libs/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/libs/css/font-awesome.min.css}">
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/libs/css/dataTables.bootstrap4.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/libs/css/adminlte.min.css}">
    <!-- Google Font: Source Sans Pro -->
    <link th:href="@{/libs/css/SourceSansPro.css}" rel="stylesheet">

    <script th:src="@{/libs/jquery/jquery.min.js}"></script>
    <script th:src="@{/libs/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/libs/js/dataTables.bootstrap4.js}"></script>

    <!--需要一个$arr[]来传递相应的数据 -->
</head>
<body class="sidebar-mini" style="height: auto;">
<div class="wrapper">
    <!-- Navbar -->
    <div th:replace="~{/Doctor/common::topbar}"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:replace="~{/Doctor/common::asidebar}"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">查看完成诊断病人列表</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="?con=Doctor">Home</a></li>
                            <li class="breadcrumb-item active">查看完成诊断病人列表</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Responsive Hover Table</h3>

                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <input type="search" class="form-control form-control-sm" id="search-treatcompleted" style="float: right;margin-bottom: 10px" placeholder="输入病人姓名">
                                <table id="example1" class="table text-nowrap table-hover">
                                    <thead>
                                    <tr>
                                        <th>就诊号</th>
                                        <th>姓名</th>
                                        <th>就诊时间</th>
                                        <th>诊断</th>
                                        <th>操作项</th>
                                    </tr>
                                    </thead>
                                    <tbody id="treatcompletedlist">

                                    </tbody>
                                </table>
                                <ul id="navigatebartreatcompletedlist" class="pagination pagination-sm m-0 float-right">

                                </ul>
                                <input type="hidden" id="contextPath" th:value="${#servletContext.contextPath}">
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div><!-- /.col-lg-8 -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->

    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="p-3">
            <h5>Title</h5>
            <p>Sidebar content</p>
        </div>
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>
</div>
<script type="text/javascript" >
    //DataTable配置
    $(function () {
        loadTreatCompletedList(1,10);
    });

    var contextPath=$("#contextPath").val();
    var showdetail = contextPath+'/toDoctor/showtreatmentcompleteddetail?tbid=';

    function loadTreatCompletedList(page,size){
        var condition = $('#search-treatcompleted').val();
        $.get("getTreatCompletedList",{page:page,size:size,condition:condition},function (result) {
            //表格数据
            var tc_list='';
            for (var i = 0;i<result.pageInfo.size;i++){
                var treatmentbrief = result.pageInfo.list[i];
                var tr = '<tr>\n' +
                    '                                    <th scope="row">'+treatmentbrief.patientid+'</th>\n' +
                    '                                    <td>'+treatmentbrief.patientname+'</td>\n' +
                    '                                    <td>'+treatmentbrief.time+'</td>\n' +
                    '                                    <td>'+treatmentbrief.diagnose+'</td>\n' +
                    '                                    <td>\n' +
                    '                                        <button id="btn"><a href='+showdetail+treatmentbrief.tbid+'>查看</a></button>' +
                    '                                    </td>\n' +
                    '                                </tr>';
                tc_list=tc_list+tr;
            }
            $("#treatcompletedlist").html(tc_list);
            //导航数据
            var lis ='';
            if (result.pageInfo.hasPreviousPage==false){
                var li = '<li class="page-item"><a class="page-link" href="#">«</a></li>'
            }else {
                var li ='<li class="page-item"><a class="page-link" href="javascript:loadTreatCompletedList('+result.pageInfo.prePage+','+size+')">«</a></li>'
            }
            lis +=li;//向前一页
            for(var i=0;i<result.pageInfo.navigateLastPage;i++){
                var num = result.pageInfo.navigatepageNums[i];
                var li = '<li class="page-item"><a class="page-link" href="javascript:loadTreatCompletedList('+num+','+size+')">'+num+'</a></li>';
                lis +=li;
            }
            if (result.pageInfo.hasNextPage==false){
                var li = '<li class="page-item"><a class="page-link" href="#">»</a></li>'
            }else {
                var li ='<li class="page-item"><a class="page-link" href="javascript:loadTreatCompletedList('+result.pageInfo.nextPage+','+size+')">»</a></li>'
            }
            lis +=li;//添加向后一页
            $("#navigatebartreatcompletedlist").html(lis);
        },"json");
    }
    $('#search-treatcompleted').blur(function () {
        loadTreatCompletedList(1,10);
    })

</script>
</body>
</html>